body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	background-color: white;
	font: inherit;
	margin:0px;
	background-color:white;
}

h1, h2,h3,h4,h5,h6, a,p,input{
	font-family: 'Source Sans Pro', sans-serif;
}

section.main{
	width: 100%;
	position:relative;
	position:absolute;
	top:0px;
	left:0px;
	height:100%;

	overflow:hidden;
	article.history{
		display: inline-block;
		width:50%;
		height:100%;
		position:absolute;
		martin-top:0px;
		top:0px;
		left:0px;
		//.transition(all,30000ms,linear);
		//.translate3d;
		figure{
			margin:0px;
			float:left;
			display: inline-block;
			width:480px;
			height:270px;
			background-color:gray;
			overflow:hidden;
			//.transition(all,300ms,ease);
			//.grayscale(100%);
			cursor:pointer;
			&:hover{
				//.transition(all,300ms,ease);
				//.grayscale(0%);

			}
			img{
				width:100%;
				float:left;
			}
		}
		figure.selected{
			//.transition(all,300ms,ease);
			//.grayscale(0%);			
		}


	}
	article.sway{
		//.transition(all,30000ms,linear);
		margin-top:-100%;
	}

	article.modal{
		//.transition(all,300ms,ease);
		position:fixed;
		width:100%;
		height:100%;
	
		right:0px;		
		//.perspective;
		text-align: center;
		//background-color: rgba(0, 0, 0, 0.51);
		display:none;
		z-index:100;
		div.content{
			margin:0px auto;
			width:100%;
			min-height:200px;
			margin-top:20px;
			position: relative;
			//.scaleAndRotateX(0, 90deg);
			//.box-shadow(5px 5px 5px rgba(70, 70, 70, 0.75));
			//border:3px solid rgba(0, 136, 189, 0.93);

			img{
				
				height:auto;
				display: inline-block;
			}

			span{
				position:absolute;
				top:200px;
				//.transition(all,300ms,ease-in);
				height:100px;
				//.opacity(0);
				width:100%;
				left:0px;
				//.scale(0);
				display: none;
				h1{
					font-size: 60px;
					font-weight: 300;
					background-color: rgba(66, 66, 66, 0.50);
					width: 1100px;
					font-weight: 300;
					padding: 10px;
					margin: 0px auto;
					color: white;
					.rounded-corners(10px);
					b{
						font-size:120px;
					}
					strong{
						color:red;
						font-size:300px;

					}
				}
			}

			span.show{
				top:200px;
				display: block;
				//.opacity(1);
				//.transition(all,300ms,ease-in);
				//.scale(1);
			}
		}

	}

	article.modal.show{
		//.transition(all,300ms,ease);
		display:block;
		div.content{
			z-index:10;
			//.transition(all,700ms,ease);
			//.scaleAndRotateX(1.0, 0deg);
			//.opacity(1);
		}
		
		div.twitterBaby{
			z-index:1;
			margin-top:5px;
			iframe{
				height:920px !important;
				width:1000px !important;


			}
		}
	}
	article.modal.twitter{
		width: 47%;
		right: 60px;
		backgruond-color:white;
	}
	.deviceInfo{
		display: block;
		z-index: 10;
		position: fixed;
		width: 885px;
		height: 111px;
		color: #fff;
		background-color: rgba(32, 32, 32, 1);
		padding: 10px;
		right: 55px;
		bottom: 25px;
		font-family: "Courier New";
		h2{
			font-family: "Courier New";
			font-size:30px;
			font-weight:300;
			margin:0px;
			color: rgb(0, 173, 240);
		}
		span{
			font-weight: 300;
			float: left;
			margin-top: 10px;
			font-size: 22px;
		}
	}

}

.root.timeline{
	h1{
		font-size: 56px !important;
		margin: 10px;
		margin-top: 30px;
		margin-bottom: 30px;

	}
	span.full-name .p-name{
		font-size:36px;

	}
	.e-entry-title{
		font-size: 30px;
		margin-bottom: 15px;
		margin-top: 20px;
		overflow:visible;
	}
	span.p-nickname{
		font-size:28px;
	}
	time{
		font-size: 28px;
	}
	.follow-button.profile{
		display: none;
	}
}

