doctype
html
  head
    title #{title} - Demo
    link(rel='stylesheet', href='/css/app.css')

  body
    section.main
      div.deviceInfo
        <h2>Sensor Data</h2>
        <span>{red:12331, blue:87423, green:2342334, white: 34234234, proximity: 500}</span>
      article.history
      article.modal
        div.content
          img(src='https://pbs.twimg.com/media/BnljLhYIAAEnHil.jpg', width='100%', height='auto')
          span
            <h1>CAUGHT in the Act!<br>You will be tweeted in <br><strong></strong> </h1>
      article.modal.twitter.show
        div(class='twitterBaby')

          
    script(src="/js/jquery.js")      
    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src="/js/main.js")
