doctype
html
  head
    title #{title} - Demo
    link(rel='stylesheet', href='/css/app.css')
    script(src="/js/jquery.js")
    script(src="/js/main.js")

  body
    section.main
      article.history
      article.modal
        div.content
          img(src='http://descit.com/pics/2274.jpg')
          span
            <h1>You will be tweeted in <strong>5</strong> </h1>



